---
layout: page
title: Stuff I listen to
paginate:
  collection: music
  limit: false
  per_page: 15
---

<div class="posts">
  {% for post in paginator.music %}
    <article class="post">
      <h2 class="post-title">
        <a href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url }}{% endif %}"{% if post.external_url %} target="_blank"{% endif %}>{{ post.title }}</a>
        {% if post.redirect_to or post.external_url %}
          &gt;
        {% endif %}
      </h2>

      {% if post.date %}
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      {% endif %}

      <p>
        {{ post.content }}
      </p>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
