---
layout: page
title: Projects
---

{% for project in site.projects %}
  <h3 class="project-name">
    {% if project.external_url %}
    <a href="{{ project.external_url }}" target="_blank">
      {{ project.title }}
      &raquo;
    </a>
    {% else %}
    <a href="{{ project.url }}">
      {{ project.title }}
    </a>
    {% endif %}
  </h3>
  <p class="project-details">
    {% if project.details %}
      {{ project.details }}
    {% else %}
      {{ project.content }}
    {% endif %}
  </p>
{% endfor %}

<h2>Random works</h2>

<p>
  You can also find some of my original yet random works, which I probably did when I was bored. These works are adequately curated on my <a href="http://resir014.tumblr.com/tagged/resir014" target="_blank">Tumblr blog</a>.
</p>
