<article class="post">
  <h2 class="post-title">
    <a href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url }}{% endif %}"{% if post.external_url %} target="_blank"{% endif %}>{{ post.title }}</a>
    {% if post.redirect_to or post.external_url %}
      <i class="fa fa-external-link"></i>
    {% endif %}
  </h2>

  {% if post.date %}
  <div class="post-meta">
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
  </div>
  {% endif %}

  <p>
    {% if post.lead %}
      {{ post.lead }}
    {% else %}
      {{ post.excerpt | strip_html | truncatewords: 35, '…' }}
    {% endif %}
  </p>

  {% unless post.tags.size == 0 %}
  <section class="tags">
    {% for tag in post.tags %}
    <a class="label-tag" href="{{ site.baseurl }}{{ tag | prepend: '/tags#' }}">{{ tag | prepend: '#' }}</a>
    {% endfor %}
  </section>
  {% endunless %}
</article>
