{% assign project_count = site.projects | size %}
{% if project_count > 0 %}
  <div class="archive">
    {% assign projects_sorted = site.projects | sort:"year" | reverse %}
    {% for project in projects_sorted limit:3 %}
      {% if project.project_url %}
        <div class="archive-item">
          <span class="archive-date">
            {{ project.year }}
          </span>
          <a href="{{ project.project_url }}" target="_blank">{{ project.title }} &raquo;</a>
          <p class="archive-details">
            {% if project.details %}
              <span>{{ project.details }}</span>
            {% endif %}
          </p>
        </div>
      {% else %}
        <div class="archive-item">
          <span class="archive-date">
            {{ project.year }}
          </span>
          <a href="{{ project.url }}">{{ project.title }}</a>
          <p class="archive-details">
            {% if project.details %}
              {{ project.details }}
            {% endif %}
          </p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
  <div class="archive">
    <div class="archive-item">
      <span class="text-muted">No projects available.</span>
    </div>
  </div>
{% endif %}
