{% assign project_count = site.projects | size %}
{% if project_count > 0 %}
  {% assign projects_sorted = site.projects | sort:"year" | reverse %}
  {% for project in projects_sorted %}
    {% capture currentyear %}{{ project.year }}{% endcapture %}
    {% if currentyear != year %}

      <h2>{{ currentyear }}</h2>
      {% capture year %}{{ currentyear }}{% endcapture %}
    {% endif %}
    {% if project.project_url %}
      <h3><a href="{{ project.project_url }}" target="_blank">{{ project.title }} &raquo;</a></h3>
      <p class="archive-details">
        {% if project.details %}
          {{ project.details }}
        {% else %}
          {{ project.content }}
        {% endif %}
      </p>
    {% else %}
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
      <p class="archive-details">
        {% if project.details %}
          {{ project.details }}
        {% else %}
          {{ project.content }}
        {% endif %}
      </p>
    {% endif %}
  {% endfor %}
{% else %}
  <span class="text-muted">No projects available.</span>
{% endif %}
