// Tags archive
//
// Archive-style post view in `/tags`.

.archive {
  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;

      .archive-title {
        text-decoration: underline;
      }
    }
  }
}

.archive-item {
  display: block;
  padding: .75rem 0;

  .archive-date {
    display: block;
    color: #9a9a9a;

    @media (min-width: 34em) {
      float: right;
      margin-left: .5rem;
    }
  }

  @media (min-width: 34em) {
    padding: .25rem 0;
  }
}
