<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title == "home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="author" content="{{ site.author.name }} || {{ site.author.url }}" />
  <meta name="description" content="{{ site.tagline }}" />
  <meta name="google-site-verification" content="zXPHGyXggG0IRVPXhgo7AuPiyA4ItE4LyGtOMj7YeBk" />

  <!-- Canonical link element -->
  <link rel="canonical" href="{{ site.url }}">

  <!-- Android Lollipop theme color -->
  <meta name="theme-color" content="#263238" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/styles/main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic" />
  <link rel="stylesheet" type="text/css" media="screen" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

  <!-- Twitter embed Javascript -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml" />
</head>
