// Variables
//
// Default variables for the main blog theme.

// Default font stack
$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Typography bases
$heading-font-weight: normal;
$heading-primary-color: #313131;
$link-primary-color: #268bd2;
