// Post archives
//
// Post archive layouts as seen on blog pages.

.archive {
  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;

      span {
        //text-decoration: underline;
      }
    }
  }
}

.archive-item {
  display: block;
  padding: 1rem 0;

  .archive-title {
    margin: 0 0 .25rem;
    color: $post-title-color;
  }

  .archive-date {
    display: block;
    margin-bottom: .25rem;
    color: #9a9a9a;
  }
}
