.tags-list {
  padding: 0;
  margin-bottom: 3rem;

  li {
    display: inline-block;
    line-height: 2;
    list-style-type: none;

    a {
      display: inline-block;
      padding: 0 .25rem;
      font-size: 75%;
      color: #fff;
      text-decoration: none;
      background-color: $text-color-primary;
      border-radius: $border-radius-base;

      &:hover {
        background-color: $accent-color;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.tagged-posts {
  margin-bottom: 3rem;
}
