// Poole overridess
//
// Base styles that overrides Poole's theme styles go here.

// Fixes for Poole's masthead
.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;

  a {
    color: #505050;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.masthead-title {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #505050;

  a {
    color: #505050;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  small {
    font-size: 75%;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}

// Metadata below page title
.page-meta {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

// Fix `<p>` tags inside `<dd>` causing unnecessary margins.
dd {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
