// Post list
//
// Lists of posts displayed on `/blog`.

.blog {
  margin-bottom: 4em;
}
.blog-posts {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      display: block;
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
