// Variables
//
// Default variables for the main blog theme.

// Container width
$container-width: 38rem   !default;
$grid-gutter:     1.5rem  !default;

// Default font stack
$body-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Monospace font stack
$mono-font: Menlo, Monaco, "Courier New", monospace;

// Body font sizes
$body-font-size: 16px;
$body-font-size-large: ($body-font-size*1.125);

// Primary colours
//
// Refers to the Material Design guidelines:
// http://www.google.com/design/spec/style/color.html
$color-blue-500:        #2196f3;
$color-grey-500:        #9e9e9e;
$color-grey-700:        #616161;
$color-grey-800:        #424242;
$color-grey-900:        #212121;
$color-black:           #000;
$color-black-muted:     rgba($color-black, .54);
$color-black-text:      rgba($color-black, .87);
$color-white:           #fff;

// Font weights
$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    700;

// Font colours
$font-color-heading:        $color-grey-900;
$font-color-strong:         $color-grey-900;
$font-color-body:           $color-black-text;
$font-color-muted:          $color-black-muted;
$font-color-link-primary:   #268bd2;

// Other UI element colours
$color-border: #e5e5e5;
