// Variables
//
// Default variables for the main blog theme.

// Container width
$container-width: 38rem;

// Default font stack
$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font colours
$font-color-black: #313131;
$font-color-dark-grey: #505050;
$font-color-dark-grey-body: #515151;
$font-color-light-grey: #909090;
$font-color-white: #fff;
$font-color-link-primary: #268bd2;

// Other UI element colours
$color-border: #e5e5e5;

// Typography bases
$heading-font-weight: normal;
$heading-primary-color: #313131;
$link-primary-color: #268bd2;
