// Base
//
// Glabal overrides for base Poole components.

// Body font
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Fix `<p>` tags inside `<dd>` causing unnecessary margins.
dd {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Figure & figcaptions.

figure {
  margin: 1.5rem 0;

  figcaption {
    padding-bottom: 1rem;
    font-size: 85%;
    text-align: center;
  }
}

.figure-grid {
  @include clearfix;
  margin: 1.5rem 0;

  img {
    @media (min-width: 38em) {
      display: inline-block;
      float: left;
      max-width: 55%;
    }
  }

  figcaption {
    font-size: 85%;
    text-align: center;

    @media (min-width: 38em) {
      display: inline-block;
      //float: right;
      max-width: 40%;
      padding: 1rem;
      margin-left: 1rem;
      text-align: left;
      border-left: 1px solid #ddd;
    }
  }
}

// Change default font for pagnation.
.pagination {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
