// Base
//
// Glabal overrides for base Poole components.

// Body font
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Fix `<p>` tags inside `<dd>` causing unnecessary margins.
dd {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Change default font for pagnation.
.pagination {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
