// Figure grid
//
// Custom style for figure and figcaptions. Use the `.figure-grid` class to
// trigger it.

.figure-grid {
  @include clearfix;
  margin: 1.5rem 0;

  img {
    @media (min-width: 38em) {
      display: inline-block;
      float: left;
      max-width: 55%;
    }
  }

  figcaption {
    font-size: 85%;
    text-align: center;

    @media (min-width: 38em) {
      display: inline-block;
      //float: right;
      max-width: 40%;
      padding: 1rem;
      margin-left: 1rem;
      text-align: left;
      border-left: 1px solid #ddd;
    }
  }
}

// Change default font for pagnation.
.pagination {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
