<a href="{% if post.external-url %}{{ post.external-url }}{% else %}{{ post.url }}{% endif %}"{% if post.external-url %} target="_blank"{% endif %}>
  <div class="intro-posts-item">
    <time class="posts-date" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date_to_string }}
    </time>
    <h2 class="intro-posts-title">
      {{ post.title }}
      {% if post.external-url %}
        <i class="fa fa-external-link"></i>
      {% endif %}
    </h2>
    <span class="intro-posts-excerpt">
      {% if post.lead %}
        {{ post.lead }}
      {% else %}
        {{ post.excerpt | strip_html | truncate: 220, '…' }}
      {% endif %}
    </span>
  </div>
</a>
