<a href="{% if post.external-url %}{{ post.external-url }}{% else %}{{ post.url }}{% endif %}"{% if post.external-url %} target="_blank"{% endif %}>
  <div class="archive-item">
    <time class="archive-date" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date_to_string }}
    </time>
    <span class="archive-title">
      {{ post.title }}
      {% if post.external-url %}
        <i class="fa fa-external-link fa-fw"></i>
      {% endif %}
    </span>
    {% if post.tags %}
      <!--div class="archive-tags">
        {% for tag in post.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div-->
    {% endif %}
  </div>
</a>
