<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="intro">
      <div class="container">

        {% include html/masthead.html %}

        <div class="intro-wrapper">
          <div class="intro-inner">
            <div class="intro-logo">
              <div class="logo-wrapper">
                <h1>//</h1>
              </div>
            </div>

            <div class="intro-social-links">
              <h3>find me on</h3>

              <a href="http://resir014.tumblr.com/" target="_blank">
                <i class="fa fa-tumblr"></i>
              </a>
              <a href="https://twitter.com/resir014" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="http://plus.google.com/+ResiRespati" target="_blank">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="https://github.com/resir014" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </div>
          </div>
        </div>

        {% if site.categories.blog %}
          <div class="intro-posts">
            <h1>latest posts</h1>
            <div class="archive">
              {% for post in site.categories.blog limit:5 %}
              <a href="{% if post.external-url %}{{ post.external-url }}{% else %}{{ post.url }}{% endif %}">
                <div class="archive-item">
                  <time class="archive-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
                  <h2 class="archive-title">{{ post.title }}</h2>
                  <span class="archive-excerpt">{% if post.lead %}{{ post.lead }}{% else %}{{ post.content | strip_html | truncate: 160, '…' }}{% endif %}</span>
                </div>
              </a>
              {% endfor %}
            </div>

            <a class="btn-more" href="{{ site.baseurl }}/blog">&gt; Read the rest of the blog.</a>
          </div>
        {% endif %}

        {% if site.categories.music %}
          <div class="intro-posts">
            <h1>stuff I listen to</h1>
            <div class="archive">
              {% for post in site.categories.music limit:5 %}
              <a href="{% if post.external-url %}{{ post.external-url }}{% else %}{{ post.url }}{% endif %}">
                <div class="archive-item">
                  <time class="archive-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
                  <h2 class="archive-title">{{ post.title }}</h2>
                  <span class="archive-excerpt">{% if post.lead %}{{ post.lead }}{% else %}{{ post.excerpt }}{% endif %}</span>
                </div>
              </a>
              {% endfor %}
            </div>

            <a class="btn-more" href="{{ site.baseurl }}/music">&gt; Listen to my stuff.</a>
          </div>
        {% endif %}

        {% include html/footer.html %}

      </div>
    </div>

  </body>

</html>
