---
layout: default
---

<article class="page">
  <h1 class="page-title">
    {% if page.project_url %}
      <a href="{{ page.project_url }}" target="_blank">{{ page.title }}</a>
      <i class="fa fa-external-link"></i>
    {% elsif page.external_url %}
      <a href="{{ page.external_url }}" target="_blank">{{ page.title }}</a>
      <i class="fa fa-external-link"></i>
    {% else %}
      {{ page.title }}
      {% if post.redirect_to %}
        <i class="fa fa-external-link"></i>
      {% endif %}
    {% endif %}
  </h1>

  {% if page.category == "webdesign" %}
  <figure>
    {% if page.project_url %}
    <a class="project-link" href="{{ page.project_url }}" target="_blank">
      <img src="{{ site.baseurl }}/assets/images/projects/webdesign/{{ page.name }}/preview.png" />
    </a>
    {% else %}
    <img src="{{ site.baseurl }}/assets/images/projects/webdesign/{{ page.name }}/preview.png" />
    {% endif %}
    {% if page.project_url %}
    <figcaption>
      <a class="project-link" href="{{ page.project_url }}" target="_blank">
        &gt; Visit the project.
      </a>
    </figcaption>
    {% endif %}
  </figure>
  {% endif %}

  {{ content }}
</article>
