---
layout: default
---

<article class="page">
  <header class="page-header">
    <div class="page-header-inner{% if page.project_url %} post-external-link{% endif %}">
      {% if page.project_url %}
        <h1 class="page-title">
          <a href="{{ page.project_url }}" target="_blank">{{ page.title }} &raquo;</a>
        </h1>
      {% elsif page.external_url %}
        <h1 class="page-title">
          <a href="{{ page.external_url }}" target="_blank">{{ page.title }} &raquo;</a>
        </h1>
      {% else %}
        <h1 class="page-title">
          {{ page.title }}
          {% if post.redirect_to %}
            &raquo;
          {% endif %}
        </h1>
      {% endif %}
    </div>
  </header>

  {% if page.category == "webdesign" %}
  <figure>
    {% if page.project_url %}
    <a class="project-link" href="{{ page.project_url }}" target="_blank">
      <img src="{{ site.baseurl }}/public/images/projects/webdesign/{{ page.name }}/preview.png" />
    </a>
    {% else %}
    <img src="{{ site.baseurl }}/public/images/projects/webdesign/{{ page.name }}/preview.png" />
    {% endif %}
    {% if page.project_url %}
    <figcaption>
      <a class="project-link" href="{{ page.project_url }}" target="_blank">
        &gt; Visit the project.
      </a>
    </figcaption>
    {% endif %}
  </figure>
  {% endif %}

  {{ content }}
</article>
